<!DOCTYPE html>

<html>

<head>

<title>Ticket</title>

<style>

body{
font-family:Arial;
background:#eaffea;
}


.box{
width:450px;
margin:70px auto;
background:white;
padding:30px;
border-radius:15px;
box-shadow:0 5px 20px #999;
}


h1{
color:green;
}

</style>

</head>


<body>


<div class="box">


<h1>Booking Confirmed ✅</h1>


<p><b>Ticket ID:</b> {{ticket}}</p>

<p><b>Name:</b> {{name}}</p>

<p><b>Phone:</b> {{phone}}</p>

<p><b>Route:</b> {{from_city}} → {{to_city}}</p>

<p><b>Date:</b> {{date}}</p>

<p><b>Bus:</b> {{bus}}</p>

<p><b>Price:</b> ₹{{price}}</p>


</div>


</body>

</html>